
.content { text-align: center}
.content h1{font-size: 160px;
color: black;font-weight: 600;}
.content a{text-decoration: none;
         display: inline-block;
         color:black;
         font-size: 24px;
         border: 2px solid black;
         padding: 14px 70px;
         border-radius: 50px;
         margin-top: 20px;}
         